<div class="row-fluid">
  <div class="span12">
    <%= link_to t('users.admin.add_person'), new_user_invitation_path, class: 'btn btn-primary' %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>E-Mail</th>
          <th>Last sign in</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>