<div class="row">
  <div class="col-md-2">
    <%= render "devise/shared/links" %>
  </div>

  <div class="col-md-10">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title"><%= t('users.forgot_password.title') %></h3>
      </div>

      <div class="panel-body">
        <p class="lead"><%= t('users.forgot_password.intro') %></p>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>