<div class="row-fluid" id="start">
  <% if can? :create, Photo %>
    <div class="span12">
      <%= link_to 'Upload photo', new_photo_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<br />
<div class="row-fluid">
  <ul class="thumbnails">
    <%= render @photos %>
  </ul>
</div>
