<div class="row-fluid">
  <div class="span12">
    <h2>Share Album</h2>

    <p>
      You can share the album with the link below or invite people directly.<br>
      Invited people will receive an email with a unique secure link to the album.
    </p>

    <p class="lead">
      <%= album_url(@album) %>
    </p>
  </div>
</div>