<%= render 'header' %>

<div class="row photos">
  <% if album_display?('list') %>
    <table class="table table-striped tabled-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Preview</th>
          <th>Title</th>
          <th>Taken at</th>
          <th>Created at</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'photos/photo_list', collection: @photos %>
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'photos/photo_grid', collection: @photos %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @photos %>
  </div>
</div>