<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-photo-id="<%= photo.id %>">
  <div class="thumbnail">
    <%= link_to [@album, photo].compact do %>
      <img src="<%= photo.image.large_thumb.url %>" class="img-rounded"/>
    <% end %>

    <div class="caption">
      <h4>
        <%= link_to photo.title.presence || "Untitled", photo, class: "#{'muted' if photo.title.blank?}" %>
      </h4>
    </div>
  </div>
</div>