<% if can? :delete, Photo %>
	<div class="row-fluid">
		<div class="span12">
			<%= link_to 'Delete photo', photo_path, method: :delete, confirm: t('confirm'), class: 'btn btn-danger' %>
		</div>
	</div>
<% end %>

<div class="row-fluid">
	<div class="span12" style="text-align: center">
		<%= link_to @prev do %>
			<i class="icon-arrow-left"></i>
			Previous
		<% end if @prev.present? %>
		
		<%= link_to @next do %>
			Next
			<i class="icon-arrow-right"></i>
		<% end if @next.present? %>
	</div>
	
	<div class="span12" style="text-align: center; margin-left: 0">
		<%= image_tag @photo.image.large.url, class: 'img-polaroid photo' %>
	</div>
</div>